# CMSIS & HAL Drivers
*/CMSIS/
*/STM32H7xx_HAL_Driver/


Drivers/BSP/Components/lan8742/*

# Middlewares
Middlewares/Third_Party/*
LWIP/*

# Build files
Debug/
Release/

# Others
.metadata/
*.launch
.vscode/
