# CMSIS & HAL Drivers
*/CMSIS/
*/STM32H7xx_HAL_Driver/

# Middlewares
Middlewares/Third_Party/FreeRTOS/
Middlewares/Third_Party/LwIP/
*/LWIP/

# Build files
Debug/
Release/

# Others
.metadata/
*.launch
.vscode/
